<footer class="footer">
  <small>
    <a href="http://www.memocity.cl/">Memocity SpA</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca",   about_path %></li>
      <li><%= link_to "Contacto", contact_path %></li>
      <li><a href="http://blog.memocity.cl/">Blog</a></li>
    </ul>
  </nav>
</footer>
